version: "3.8"

services:
  articles-db:
    image: articles-db
    container_name: articles-db
    networks:
      - articles-network
    volumes:
      - articles-db-data:/var/lib/mysql
  articles-back:
    image: articles-back
    container_name: articles-back
    depends_on:
        - articles-db
    ports:
        - "9000:8080"
    networks:
      - articles-network

networks:
  articles-network:

volumes:
  articles-db-data:
